<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>gamificación app</title>
    <!-- custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/vendor/boostrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- custom styles for this page -->
    <link th:href="@{/vendor/datatables/datatables.bootstrap4.min.css}" rel="stylesheet">
</head>
<body id="page-top">
<!-- page wrapper -->
<div id="wrapper">

    <!-- sidebar -->
    <ul th:replace="sidebar :: menu"></ul>
    <!-- end of sidebar -->

    <!-- content wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- main content -->
        <div id="content">

            <!-- topbar -->
            <nav th:replace="topbar :: menu-nav"></nav>
            <!-- end of topbar -->

            <!-- begin page content -->
            <div class="container-fluid">

                <!-- page heading -->
                <h1 class="h3 mb-2 text-gray-800">Registrar Premio</h1>
                <form th:action="@{/admin/rewards/save}" th:object="${reward}" method="post">
                    <input type="hidden" th:field="*{id}" name="id" id="id"/>
                    <div class="form-group">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="exampleFirstName"
                                   placeholder="Nombre" th:field="*{name}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="mb-3">
                            <input type="number" class="form-control"
                                   placeholder="Nombre" th:field="*{value}" required>
                        </div>
                    </div>

                    <a class="btn btn-primary" th:href="@{/admin/rewards}">Regresar</a>
                    <input type="submit" id="btnRegisterReward" class="btn btn-success" value="Guardar"/>


                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- end of main content -->

        <!-- footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Sprint Dev 2022</span>
                </div>
            </div>
        </footer>
        <!-- end of footer -->

    </div>
    <!-- end of content wrapper -->

</div>
<!-- end of page wrapper -->

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea cerrar sesión?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecciona Logout si deseas salir.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-danger" value="Logout">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>